/* BRAND STYLE START */
.brand{
    width: 100%;
    padding: 70px 0;

    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-info{
        width: 100%;
        max-width: 490px;

        &__title{
            margin: 0;
            @include mainTitle;
            color: $colorPrimary;
        }

        &__desc{
            margin: 0;
            @include description;
            color: #777;
        }

        &__btn{
            @include btn;
            padding: 12px 90px;
        }
    }
}
/* BRAND STYLE  END */