/* BRAND STYLE START */
.brand{
    width: 100%;
    padding: 70px 0;

    &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-info{
        width: 100%;
        max-width: 490px;

        &__title{
            margin: 0;
            margin-bottom: 30px;
            color: $colorPrimary;
            font-size: 50px;
            line-height: 120%;
        }

        &__desc{
            padding-left: 40px;
            margin: 0;
            margin-bottom: 30px;
            color: #777;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            border-left: 3px solid #888;
        }

        &__btn{
            @include btn;
            padding: 12px 90px;
        }
    }
}
/* BRAND STYLE  END */