/*  HEALTHY STYLE START */
.healthy{
    width: 100%;
    padding: 70px 0;

    &-list{
        display: flex;
        justify-content: space-between;
        list-style-type: none;

        &__item{
            width: 100%;
            max-width: 280px;

            &-link{
                position: relative;
                padding-left: 50px;
                @include link;
                color: #EA625C; 

                &::before{
                    position: absolute;
                    content: "";
                    top: 8px;
                    left: 0;
                    width: 40px;
                    height: 3px;
                    background-color: #EA625C;
                }
            }
        }

        &__title{
            margin: 0;
            margin-bottom: 30px;
            color: $colorSecondary;
            font-size: 18px;
            line-height: 150%;
            text-transform: uppercase;
        }

        &__desc{
            margin: 0;
            margin-bottom: 20px;
            color: #333;
            font-size: 15px;
            font-weight: 400;
            line-height: 160%;

            &-continuations{
                display: flex;
                align-items: center;
            }

            &-continuation{
                width: 8px;
                height: 8px;
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: #ddd;
            }
        }
    }
}
/*  HEALTHY STYLE END */