/* HERO STYLE START */
.hero{
    width: 100%;
    padding: 170px 0 183px 0;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 550px) 50px;
    background-size: contain;

    &-content{
        width: 100%;
        max-width: 490px;

        &__title{
            margin: 0;
            @include mainTitle;
            color: $colorPrimary;
        }

        &__desc{
            margin: 0;
            @include description;
            color: #777;
        }

        &__btn{
            @include btn
        }
    }

    &-bottom__hr{
        margin: 0;
        background-color: #ddd;
    }
}
/* HERO STYLE END */