/* HERO STYLE START */
.hero{
    width: 100%;
    padding: 170px 0 183px 0;
    background-image: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 550px) 50px;
    background-size: contain;

    &-content{
        width: 100%;
        max-width: 490px;

        &__title{
            margin: 0;
            margin-bottom: 30px;
            color: $colorPrimary;
            font-size: 50px;
            line-height: 120%;
        }

        &__desc{
            margin: 0;
            padding-left: 40px;
            margin-bottom: 30px;
            color: #777;
            font-size: 16px;
            font-weight: 400;
            line-height: 150%;
            border-left: 3px solid #888;
        }

        &__btn{
            padding: 12px 32px;
            color: #fff;
            font-size: 18px;
            line-height: 150%;
            border: none;
            text-transform: uppercase;
            background-color: #EA625C;
        }
    }

    &-bottom__hr{
        margin: 0;
        background-color: #ddd;
    }
}
/* HERO STYLE END */